<div class=" min-w-screen
min-h-screen
bg-gray-900
flex
items-center 
justify-center
px-5
py-5">

    <div class="w-full
    mx-auto
    rounded-xl
    shadow-xl
    text-gray-800
    relative
    overflow-hidden " style=" max-width:350px ">
    <h1 class="text-center 
    text-white py-10 text-3xl font-bold"> Calculator</h1>

      <div class="w-full
      h-40
      bg-gradient-to-b
      from-gray-800
      to-gray-900
      text-right">
        <div class="w-full
        py-5
        px-6
        text-2xl
        text-white
        font-thin">
      {{Fun}}
      </div>
        <div class="w-full
        px-6 
        py-5 
        text-6xl
        text-white
        font-hin"> 
        {{calvalue | number }}
        </div>

      </div>

      <div class="w-full">
          <div class="flex w-full">
            <div class="w-2/4 border-r border-b border-orange-500 ">
              <button class="w-full
                      h-16
                      outline-none
                      hover:bg-orange-600 
                      hover:bg-opacity
                      text-white
                      text-xl
              font-light 
              bg-orange-500"
              (click)="onClickValue('c' , 'function')">C</button>
            </div>
            <div class="w-1/4 border-r border-b border-purple-500">
              <button class="w-full
                      h-16
                      outline-none
                      focus:outline-none
                      hover:bg-purple-500 
                      text-xl
                      text-white
                      font-light 
                      bg-purple-400"
              (click)="onClickValue('%' , 'function')"> % </button>
            </div>
            <div class="w-1/4 border-r border-b border-purple-500">
              <button class="w-full
                      h-16
                      outline-none
                      focus:outline-none
                      hover:bg-purple-500 
                      hover:bg-opacity
                      text-2xl
                      text-white
                      font-light
                      bg-purple-400"
              (click)="onClickValue('/' , 'function')"> / </button>
            </div>
          </div>
          <div class="flex w-full">

            <div class="w-1/4 border-r border-b border-gray-900">
              <button class="w-full
                      h-16
                      outline-none
                      focus:outline-none
                      hover:bg-opacity-20
                      text-xl
                      text-white
                      font-light
                      bg-gray-800"
              (click)="onClickValue('7' , 'number')"> 7 </button>
            </div>
            <div class="w-1/4 border-r border-b border-gray-900">
              <button class="w-full
                      h-16
                      outline-none
                      focus:outline-none
                      hover:bg-opacity-20
                      text-xl
                      text-white
                      font-light 
                      bg-gray-800"
              (click)="onClickValue('8' , 'number')"> 8 </button>
            </div>
            <div class="w-1/4 border-r border-b border-gray-900">
              <button class="w-full
                      h-16
                      outline-none
                      focus:outline-none
                      hover:bg-opacity-20
                      text-xl
                      text-white
                      font-light
                      bg-gray-800"
              (click)="onClickValue('9' , 'number')"> 9 </button>
            </div>
            <div class="w-1/4 border-r border-b border-purple-500">
              <button class="w-full
                      h-16
                      outline-none
                      focus:outline-none
                      hover:bg-purple-500 
                      text-xl
                      text-white
                      font-light
                      bg-purple-400"
              (click)="onClickValue('*' , 'function')"> * </button>
            </div>
          </div>
          <div class="flex w-full">
            <div class="w-1/4 border-r border-b border-gray-900">
              <button class="w-full
                      h-16
                      outline-none
                      focus:outline-none
                      hover:bg-opacity-20
                      text-xl
                      text-white
                      font-light
                      bg-gray-800"
              (click)="onClickValue('6' , 'number')"> 6 </button>
            </div>
            <div class="w-1/4 border-r border-b border-gray-900">
              <button class="w-full
                      h-16
                      outline-none
                      focus:outline-none
                      hover:bg-opacity-20
                      text-xl
                      text-white
                      font-light
                      bg-gray-800"
              (click)="onClickValue('5' , 'number')"> 5 </button>
            </div>
            <div class="w-1/4 border-r border-b border-gray-900">
              <button class="w-full
                      h-16
                      outline-none
                      focus:outline-none
                      hover:bg-opacity-20
                      text-xl
                      text-white
                      font-light 
                      bg-gray-800"
              (click)="onClickValue('4' , 'number')"> 4 </button>
            </div>
            <div class="w-1/4 border-r border-b border-purple-500">
              <button class="w-full
                      h-16
                      outline-none
                      focus:outline-none
                      hover:bg-purple-500 
                      text-xl
                      text-white
                      font-light
                      bg-purple-400" 
              (click)="onClickValue('-' , 'function')"> - </button>
            </div>
          
          </div>
          <div class="flex w-full">
            <div class="w-1/4 border-r border-b border-gray-900">
              <button class="w-full
                      h-16
                      outline-none
                      focus:outline-none
                      hover:bg-opacity-20
                      text-xl
                      text-white
                      font-light
                      bg-gray-800"
              (click)="onClickValue('3' , 'number')"> 3 </button>
            </div>
            <div class="w-1/4 border-r border-b border-gray-900">
              <button class="w-full
                      h-16
                      outline-none
                      focus:outline-none
                      hover:bg-opacity-20
                      text-xl
                      text-white
                      font-light
                      bg-gray-800"
              (click)="onClickValue('2' , 'number')"> 2 </button>
            </div>
            <div class="w-1/4 border-r border-b border-gray-900">
              <button class="w-full
                      h-16
                      outline-none
                      focus:outline-none
                      hover:bg-opacity-20
                      text-xl
                      text-white
                      font-light
                      bg-gray-800"
              (click)="onClickValue('1' , 'number')"> 1 </button>
            </div>
            <div class="w-1/4 border-r border-b border-purple-500">
              <button class="w-full
                      h-16
                      outline-none
                      focus:outline-none
                      hover:bg-purple-500 
                      text-xl
                      text-white
                      font-light
                      bg-purple-400"
              (click)="onClickValue('+' , 'function')"> + </button>
            </div>
          </div>
          <div class="flex w-full">
              
            <div class="w-2/4 border-r border-b border-gray-900">
              <button class="w-full
                      h-16
                      outline-none
                      focus:outline-none
                      hover:bg-opacity-20
                      text-xl
                      text-white
                      font-light
                      bg-gray-800"
              (click)="onClickValue('0' , 'number')"> 0 </button>
            </div>
            <div class="w-1/4 border-r border-b border-gray-900">
              <button class="w-full
                      h-16
                      outline-none
                      focus:outline-none
                      hover:bg-opacity-20
                      text-xl
                      text-white
                      font-light
                      bg-gray-800" 
              (click)="onClickValue('.' , 'number')"> . </button>
            </div>
            <div class="w-1/4 border-r border-b border-purple-500">
              <button class="w-full
                      h-16
                      outline-none
                      focus:outline-none
                      hover:bg-purple-500 
                      text-xl
                      text-white
                      font-light
                      bg-purple-400" 
              (click)="onClickValue('=' , 'function')"> = </button>
            </div>
          </div>


    </div>

</div>